# Test results

You can have a look at the reference images, test images and difference images if they exist. Each contain the name of the viewport and the status of the test for this current viewport.
By default they are in accordion and they are closed. 
To open or close them, just click on it.

You can approve all the reference for this test on the button on the top right.

You can also approve only one viewport only. In the accordion for a viewport, you have a "checkmark" icon to approve the test image for the viewport.